.app {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  
}

.app.light{
  background-image: url('/src/lightbackground.jpg');
}

.app.dark {
  background-image: url('/src/darkbackground.jpg');
}

